.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.monster-card {
  max-width: 30em;
  min-height: 35em;
  margin: 2em;
  display: grid;
  grid-template-rows: auto 6em 3em;
  background: linear-gradient(#d5b385c7, #534232f7);
  border-radius: 5%;
  box-shadow: 10px 10px 15px #1a1a1a;
}

.monster-name {
  text-align: center;
  font-size: 2em;
  grid-row: 1;
  font-weight: 400;
  text-transform: capitalize;
}

.monster-img-container {
  min-width: 480px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.monster-img {
  max-width: 90%;
  grid-row: 2;
  justify-self: center;
  padding: auto;
}

.clique {
  text-align: center;
  bottom: 0;
  font-style: italic;
  grid-row: 3;
}

.search-input {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 50%;
  text-align: center;
  font-style: italic;
  border-radius: 0.4em;
  opacity: 0.8;
  background-color: #98abaf;
}

.search-input:hover {
  cursor: text;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.admin {
  font-size: 1em;
  float: right;
  margin: 2em 2em 0 2em;
  text-align: center;
  font-style: italic;
  border-radius: 0.6em;
  opacity: 0.8;
  background-color: #98abaf;
}

input:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}