.app {
  min-height: 100vh;
}

html, body {
  background-image: url("https://assets.rpgsite.net/images/images/000/081/608/original/Monster-Hunter-World-Iceborne_Guiding-Lands-Forest-Region.jpg");
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  padding: 0;
  margin: 0;
}

.navbar {
  height: 4em;
  text-align: center;
  background-color: #3c5455c7;
  align-items: center;
  border-bottom: 1px solid black;
}

.footer {
  height: 4em;
  text-align: center;
  background-color: #3c5455c7;
  align-items: center;
  border-top: 1px solid black;
}

.navbar h1 {
  margin: 0;
  padding-top: 0.3em;
}

.navbar p {
  float: right;
}
